@model RailwayDBKurs.Models.Region
@{
    ViewBag.Title = "Добавление участка";
}

<h1 class="display-4 text-center">Добавить участок</h1>
<div class="main-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div>
            <p>Протяжённость (км)</p>
            @Html.TextBoxFor(x => x.Length, "", new { type="number", min=0, required="" })
        </div>
        <br />
        <div>
            <p>Дата ввода в эксплуатацию</p>
            @Html.TextBoxFor(x => x.DateOfExploitation, "", new { min="1800-01-01", type="date" })
        </div>
        <br />
        <div>
            <p>Количество поездов</p>
            @Html.TextBoxFor(x => x.ValueOfTrains, "", new { type="number", min=0, required="" })
        </div>
        <br />
        
        <a href="#" onclick="window.history.back()">Отмена</a>
        <input class="button green" type="submit" value="Добавить" />
    }
</div>