@model List<Van>
@{
    ViewBag.Title = "Список вагонов";
}

<h1 class="display-4 text-center">Вагоны</h1>
<div class="main-content">

    @Html.ActionLink("Добавить вагон", "AddVan", new EmptyResult(), new { @class = "button green float-right" })

    <div>
        <table>
            <thead>
                <tr>
                    <th>Номер вагона</th>
                    <th>Тип вагона</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var van in Model)
                {
                    <tr>
                        <td>
                            @van.ID
                        </td>
                        <td>
                            @van.Type
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>