@{
    ViewBag.Title = "Добро пожаловать!";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <div class="main-content">
        <p>Это приложение создано для управления деятельностью железнодорожных депо, а именно просмотром и администрированием различных ремонтных событий.</p>
        <p>Также есть возможность создавать записи об участках (регионах), депо, вагонах и изменять их данные.</p>
        <p>Для входа в приложение зайдите под нужным пользователем @Html.ActionLink("на странице входа", "LogIn").</p>
    </div>
</div>